<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | Grimoires</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>
  <body>
    <header class="nav_wrapper">
      <nav class="container flex-row">
        <a href="/">Logo</a>
        <ul>
        <a href="/" <%- title === 'Home' ? 'class="active"' : 'disabled' %>>Home</a>
        <% if (user) { %>
        <a href="/boards/new" <%- title === 'New Board' ? 'class="active"' : 'disabled' %>>New Board</a>
        <a href="/logout" id="btn">Log Out</a>
          <img src="<%= user.avatar %>" alt="avatar" class="user_avatar" title="Logged in as <%= user.name %>">
        <% } else { %>
        <a href="/oauth/google" id="btn">Log In</a>
        <% } %>
      </ul>
      </nav>
    </header>
