<%- include('./partials/header') %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<% boards.forEach(function(board) { %>
<a href="/boards/<%= board._id %>/topics">
  <img src="<%= board.imageURL %>" alt="" />
  <h3><%= board.title %></h3>
</a>
<% }) %> <%- include('./partials/footer') %>
