<%- include('../partials/header') %>
<div class="topic-bg-container">
  <img src="<%= board.imageURL %>" alt="topic background" />
</div>
<div class="container">
  <h2 class="board_title"><%= title %> Characters</h2>
</div>
<div class="container">
  <div class="form_btn_container">
    <a href="/boards/<%= board._id %>/topics/new" class="btn"> + New Topic</a>
  </div>
</div>
<% if (topics.length) { %>
<div class="container">
  <ul>
    <% topics.forEach(function(topic) { %>
    <li>
      <a
        href="/boards/<%= board._id %>/topics/<%= topic._id %>"
        class="topic_link"
      >
      <div class="flex_row">
        <section class="topic_face">
          <div>
          <img src="<%= topic.imageURL %>" alt="character image" />
        </section>
        <section class="topic_intro">
          <p><%= topic.name %></p>
        </section>
      </div>
        <section class="topic_intro">
          <p>Comments</p>
          <p><span><%= topic.comments.length %></span></p>
        </section>
      </a>
      <% if (user?._id.equals(topic.user)) { %>
        <div class="form_btn_container" style="margin-top: 0;">
          <form action="/boards/<%= board._id %>/topics/<%= topic._id %>?_method=DELETE" method="POST">
            <button class="delete_btn">Delete Topic</button>
          </form>
          <a href="/topics/<%= topic._id %>/edit" class="edit_btn">Edit Topic</a>
        </div>
      <% } %>
      </li>
    <% }) %>
    </ul>
    <% } else { %>
    <h3 class="no_topic_header">No Topics.</h3>
  </div>
<% }%>
<%- include('../partials/footer') %>