<%- include('../partials/header') %>

<p><%= topic.name %></p>
<img src="<%= topic.imageURL %>" alt="character avatar">
<p><%= topic.age %></p>
<p><%= topic.gender %></p>
<p><%= topic.description %></p>
<% if(user) { %>
    <h3>Add Comment</h3>
    <form action="/topics/<%= topic._id %>/comment" method="POST">
        <textarea name="post""></textarea>
        <button type="submit">Submit Comment</button>
    </form>
<% } else { %>
    <h3>Must sign in to add a review.</h3>
<% } %>

<% if (topic.comments.length) { %>
<% topic.comments.forEach(function(comment) { %>
    <div style="background-color: green;">
    <img src="<%= comment.userAvatar %>" alt="avatar" referrerpolicy="no-referrer">
    <p><%= comment.userName %></p>
    <p><%= comment.post %></p>
    <% if(user?._id.equals(comment.user)) { %>
        <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button>DELETE</button>
        </form>
        <a href="/comments/<%= comment._id %>/edit">EDIT</a>
    <% } %>
</div>
<% }) %>
<% } else { %>
<h3>No comments yet. Be the first!</h3>
<% } %>


<%- include('../partials/footer') %>